{#
    Args:
        attributes (List[ArgumentDescription]): The attributes
#}
<p class="{{ CLASS_BASE }}-atttributes">
  {% if attributes -%}
  <h3>Attributes</h3>
  {% for attribute in attributes -%}
  <var class="{{ CLASS_BASE }}-varname">{{ attribute.name }}</var>
  {%- if attribute.type -%}
  <span class="{{ CLASS_BASE }}-punctuation">: </span><span class="{{ CLASS_BASE }}-vartype">{{ attribute.type }}</span>
  {%- endif %}
  {%- if attribute.is_optional -%}
  <span class="{{ CLASS_BASE }}-punctuation"> (optional)</span>
  {%- endif -%}
  <br />
  {% if attribute.description -%}
  <p>{{ attribute.description }}</p>
  {% else %}
  <p></p>
  {% endif %}
  {%- endfor -%}
  {%- endif %}
</p>
