{#
    Args:
        title_name (str): The name for the title
        title_object_type (str): The object type for the title
        metadata_module_name (Optional[str]):  The module name for metadata
        metadata_package_name (Optional[str]): The package name for metadata
        metadata_file_name (Optional[str]): The file name for metadata
        summary (str): The class summary
        description (str): The class description
        constructor (CallableDescriptor): The constructor
        attributes (List[ArgumentDescriptor]): The list of arguments
        properties (List[PropertyDescriptor]): The list of properties
        methods (List[CallableDescriptor]): The list of methods
        examples (Optional[List[str]]): Examples
#}
<div class="{{ CLASS_BASE }}-class">
  {% include "title.j2" %}
  {% include "metadata.j2" %}
  {% include "summary.j2" %}
  {% include "constructor.j2" %}
  {% include "description.j2" %}
  {% include "attributes.j2" %}
  {% include "properties.j2" %}
  {% include "methods.j2" %}
  {% include "examples.j2" %}
</div>