{#
    Args:
        constructor (CallableDescriptor): The constructor
#}
{%- set callable_name = constructor.name -%}
{%- set is_async = constructor.is_async -%}
{%- set arguments = constructor.arguments -%}
{%- set return_type = constructor.resturn_type -%}
{% include "signature.j2" %}
{% include "parameters.j2" %}
