{#
    Args:
        examples (Optional[List[str]]): A list of examples
#}
<p class="{{ CLASS_BASE }}-examples">
    {% if examples -%}
    <h3>Examples</h3>
    {% for example in examples -%}
    <p class="{{ CLASS_BASE }}-example">{{ example }}</p>
    {%- endfor %}
    {%- endif %}
</p>
