{#
Macros
#}

{% macro render_title(title_name, title_object_type) %-}
<p class="jetblack-title">
  <h2><span class="jetblack-title-name">{{ title_name }}</span><span class="jetblack-title-type"> ({{ title_object_type }})</span></h2>
</p>
{%- endmacro %}