{#
    Args:
        arguments (List[ArgumentDescriptor]): The argument descriptors
#}
<div class="{{ CLASS_BASE }}-parameters">
  <h3>Parameters</h3>

  {% for argument in arguments %}
    <var class="{{ CLASS_BASE }}-varname">{{ argument.name }}</var>
    {%- if argument.type -%}
      <span class="{{ CLASS_BASE }}-punctuation">: </span><span class="{{ CLASS_BASE }}-vartype">{{ argument.type }}</span>
    {%- endif -%}
    {%- if argument.is_optional -%}
      <span class="{{ CLASS_BASE }}-punctuation"> (optional)</span>
    {%- endif -%}
    <br />
    {% if argument.description -%}
      <p>{{ argument.description }}</p>
    {%- else -%}
      <p></p>
    {%- endif %}
  {% endfor %}
</div>