{#
    Args:
        property_descriptors (List[PropertyDescriptor]): The property descriptors
#}
<div class="{{ CLASS_BASE }}-properties">
{% for property_descriptor in property_descriptors -%}
  <div class="{{ CLASS_BASE }}-property">
  {%- set title_name, title_object_type = property_descriptor.qual_name, "property" -%}
  {% include "title.j2" %}
  {%- set summary = property_descriptor.summary -%}
  {% include "summary.j2" %}
  <code><span class="{{ CLASS_BASE }}-vartype">property_descriptor.qual_name</span><span class="{{ CLASS_BASE }}-punctuation"> -> </span><span class="{{ CLASS_BASE }}-vartype">property_descriptor.type</span></code>
  {%- if property_descriptor.is_settable %}
  <br /><code><span class="{{ CLASS_BASE }}-vartype">property_descriptor.qual_name</span><span class="{{ CLASS_BASE }}-punctuation">: </span><span class="{{ CLASS_BASE }}-vartype">property_descriptor.type</span><span class="{{ CLASS_BASE }}-punctuation"> = ...</span></code>
  {%- endif -%}
  {%- if property_descriptor.is_deletable %}
  <br /><code><span class="{{ CLASS_BASE }}-keyword">del</span><span class="{{ CLASS_BASE }}-punctuation"> </span><span class="{{ CLASS_BASE }}-vartype">property_descriptor.qual_name</span></code>
  {%- endif -%}
  {%- set raise_descriptors = property_descriptor.raises -%}
  {% include "raises.j2" %}
  {%- set description = property_descriptor.description -%}
  {% include "description.j2" %}
  {%- set examples = property_descriptor.examples -%}
  {% include "examples.j2" %}
  </div>
{%- endfor %}
</div>