{#
    Args:
        raises (List[RaiseDescriptor]): Raises descriptors
#}
<p class="{{ CLASS_BASE }}-raises">
    {% if descriptors -%}
    <h3>Raises</h3>
    {% for raises_descriptor in raises -%}
    <p>
      <span class="{{ CLASS_BASE }}-vartype">raises_descriptor.type</span><span class="{{ CLASS_BASE }}-punctuation">: </span><span class="{{ CLASS_BASE }}-raises">{{ raises_descriptor.description | mdconvert }}</span>
    </p>
    {%- endfor %}
    {%- endif %}
</p>
