{#
  Args:
    title_name (str): The title name
    title_object_type (str): The title object type
#}
<p class="{{ CLASS_BASE }}-title">
    <h2><span class="{{ CLASS_BASE }}-title-name">{{ title_name }}</span><span class="{{ CLASS_BASE }}-title-type"> ({{ title_object_type }})</span></h2>
</p>
