span.autodoc-vartype {
    color: #c53204;
}

var.autodoc-varname {
    color: #4b9e48;
}

h3.autodoc-title {
    font-weight: bold;
    margin: 0.5em 0 0.2em 0;
}

h4.autodoc-title {
    font-weight: bold;
    margin: 0.5em 0 0.2em 0;
}

.autodoc-qualifier {
    font-weight: normal;
}

.autodoc-argument {
    text-indent: 4em;
}

div.autodoc-signature {
    font-family: "Roboto Mono","Courier New",Courier,monospace;
}

var.autodoc-property {
    font-family: "Roboto Mono","Courier New",Courier,monospace;
}

div.autodoc-description p {
    margin: 0 0 0.5em 0;
}
div.autodoc-vardesc p {
    margin: 0 0 0.2em 0.5em;
}